* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
} 

body{
    background: rgb(129, 136, 139);
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card{
    background-color: rgb(54, 150, 167);
    padding: 70px;
    border-radius: 4%;
    box-shadow: 5px 5px 0px 0px rgb(73, 72, 72);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    height: 600px;
    width: 400px;
    max-width: 400px;
    max-height: 700px;
}

.numeros-cartela {
    border: 1px rgb(0, 0, 0) solid;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    width: 170px;

}

.numero {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.cartela {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.numeros-cartela li {
    font-size: 20px;
    border: 1px rgb(0, 0, 0) solid;
    width: 30px;
    text-align: center;
    flex-grow: 2;
}

h1{
    font-size: 50pt;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(0, 0, 0)
    
}

li {
    list-style: none;
}

.sorteado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.sortear-button {
    background-color: rgba(36, 90, 151, 0.979);
    padding: 15px;
    width: 100px;
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 10%;
    cursor: pointer;
    color: aliceblue;
}

.disableButton {
    background-color: rgba(99, 105, 112, 0.779);
    text-decoration: none;
    cursor: text;
    padding: 15px;
    width: 100px;
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 10%;
    color: rgb(255, 255, 255);

}

.sortear-button1 {
    background-color: rgba(36, 90, 151, 0.979);
    padding: 15px;
    width: 100px;
    font-size: 12pt;
    margin-top: 10px;
    border-radius: 10%;
    cursor: pointer;
    color: aliceblue;
    margin: 0 auto;
    display: inline-block;

}

.sortear-button1:hover {
    background-color: rgba(33, 74, 121, 0.80);
}

.butao{
    background-color: rgba(36, 90, 151, 0.979);
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: aliceblue;
}

.sortear-button:hover {
    background-color: rgba(33, 74, 121, 0.80);

}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.modal{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;


}

.modal-content {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 500px;
    background-color: #eee;
    box-shadow: 0 0 2px #fff;
}

.modal-header, .modal-body, .modal-footer {
    padding: 10px;
    text-align: center;
}

.modal-header {
    background-color: #ccc;
    font-weight: bold;
    text-align: center;    
}

.modal-body {
    background-color: #ccc;
    line-height: 1.5;
    font-size: 15pt;
    text-align: left;
}

.modal-footer {
   background-color: #ccc;
}

.btn {
    background-color: rgba(36, 90, 151, 0.979);
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 150px;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: aliceblue;
    margin: 0 auto;
      
}

.modal1{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content1 {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 500px;
    background-color: #eee;
    box-shadow: 0 0 2px #fff;
}

.modal-header1, .modal-body1, .modal-footer1 {
    padding: 10px;
    text-align: left;
}

.modal-header1 {
    background-color: #ccc;
    font-weight: bold;
    text-align: center; 
    font-size: 15pt;   
}

.modal-body1 {
    background-color: #ccc;
    line-height: 1.5;
    font-size: 15pt;
    
}

.modal-footer1 {
    background-color: #ccc;
 }

 .center {
    padding-top: 10px;
    text-align: center;
 }